<input type="text" #filter keyup="0">
<table>
    <thead>
    <tr>
        <td>name</td>
        <td>x</td>
        <td>y</td>
        <td>viewID</td>
        <td>createDate</td>
        <td>createdBy</td>
        <td>isOpened</td>
        <td>isDeleted</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let point of ( points | filterData: filter.value)">
        <td>{{point.name}}</td>
        <td>{{point.x}}</td>
        <td>{{point.y}}</td>
        <td><a href="/#/view/{{point.viewID}}">{{point.viewID}}</a></td>

        <td>{{point.createDate}}</td>
        <td>{{point.createdBy}}</td>
        <td>{{point.isOpened}}</td>
        <td>{{point.isDeleted}}</td>

        <td><a href="" class="button alert" (click)="removePoint($event)" data-id="{{point._id}}">Delete</a></td>
        <td><a href="" class="button">Edit</a></td>
    </tr>
    </tbody>
</table>