<div class="row">
    <div class="medium-12 columns">
        <h1>Add user</h1>
    </div>
    <div class="medium-6 columns">
        <label>Name
            <input type="text" placeholder="Name">
        </label>
        <label>Email
            <input type="text" placeholder="Email">
        </label>
    </div>
    <div class="medium-6 columns">

        <label>Password
            <input type="password" placeholder="Password">
        </label>
        <label>Confirm password
            <input type="password" placeholder="Confirm password">
        </label>
    </div>
    <div class="medium-12 columns">
        <a href="" class="button">Add user</a>
    </div>
</div>
