.rightMenu {
    position: fixed;
    right: 0;
    top: 0;
    overflow: scroll;
    background: #fff;
    border-left: 1px solid #000;
    width: 300px;
    height: 100%
}
.rightMenu p {
    font-size: 10px;
}

.rightMenu .point__details.active {
    display: block;
}

.screenshotView {
    position: relative;
    padding-right: 200px;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    background: black;
    border-radius: 50%;
}

.window__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.window__content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 10px;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: #fff;
    border-radius: 10px;
}
