<h2>Project: {{id}}</h2>

<p>project: {{id}}</p>
<p>projectID: {{projectID}}</p>
<p>projectName: {{projectName}}</p>
<h4>Views</h4>

<a class="button" (click)="showAddViewWindow()">Add View</a>

<div *ngIf="viewsOfProject.length <= 0">
    <p>No views</p>
</div>

<input type="text" #filter keyup="0">
<table *ngIf="viewsOfProject.length > 0">
    <thead>
    <tr>
        <th>name</th>
        <th>isDeleted</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let view of (viewsOfProject | filterData: filter.value) ">
        <td><a href="/#/view/{{view._id}}">{{view.name}}</a></td>
        <td><a href="/#/view/{{view._id}}">{{view.isDeleted}}</a></td>
        <td><a href="" class="button alert" (click)="deleteProject($event)" data-id="">Delete</a></td>
        <td><a href="" class="button" (click)="editProject($event)">Edit</a></td>
    </tr>
    </tbody>
</table>
<div class="overlay" [style.display]="isWinVisible ? 'block' : 'none'">
    <div class="window">
        <h5>View details</h5>
        <a (click)="hideAddViewWindow()">Close</a>
        <form #myForm="ngForm" (ngSubmit)="createView()" [style.display]="!isFormWorking ? 'block' : 'none'">
            <label>View name
                <input type="text" placeholder="View name" ngControl="name" [(ngModel)]="newView.name">
            </label>
            <label>URL
                <input type="text" placeholder="Screenshot URL" ngControl="screenshot"
                       [(ngModel)]="newView.screenshotURL">
            </label>
            <label>Description
                <textarea type="text" placeholder="Description" ngControl="description"
                          [(ngModel)]="newView.description"></textarea>
            </label>

            <select name="" id="" [(ngModel)]="newView.createdBy">
                <option *ngFor="let user of users" [value]="user._id">{{user.login}}</option>
            </select>
            <button class="button" type="submit">Add view</button>
        </form>
    </div>
</div>